<card flex layout="row" layout-align="center center">
    <md-card-content>
        <div id="company_img_border" layout="column">
            <img class="panel_one_img mobile_compny_img" ng-src="{{slideItem.src}}" alt="">
        </div>
        <div class="company_comments" layout="column" layout-padding><b>
            <p>{{slideItem.comments}}</p>
            
            <p>HR Manager,</p>
            
            <p>{{slideItem.cmpname}}</p></b>
        </div>
        <md-card-content>
</card>