<div class="">

  <md-content class="md-padding mainblock" layout-xs="column" layout="row" ng-repeat="t in cardArray">

    <div flex layout="row" layout-align="center center">
      <span flex="15" class="line"></span>
      <b class="maintitle" ng-bind-html="t.title"></b>
      <span flex="15" class="line"></span>
    </div>
    <carousel3d ng-model="slides2" options="options2">

      <carousel3d-slide ng-repeat="n in t.cards track by $index">
        <md-card class="maincard">
          <md-card-header class="resume_package_div_extra" ng-if="n.specialoffers">
            <md-card-header-text>
              <span class="offerValue"> 
                  {{n.offerpercent}} Extra
            </span>
              <span class="md-title md-block offerblock"><b>{{n.offerdesc}}</b></span>
            </md-card-header-text>
          </md-card-header>
          <md-card-content>
            <md-card class="appcard">
              <md-card-header class="cardHeader1">
                <div class="icon1" style={{n.icon}}></div>
                <md-card-header-text>
                  <span class="md-title md-block">{{n.heading}}</span>
                </md-card-header-text>
              </md-card-header>

              <md-card-content>

                <md-list flex="">
                  <md-list-item class="md-3-line" ng-repeat="item in n.content">
                    <md-icon md-font-library="material-icons">done</md-icon>
                    <div class="md-list-item-text" layout="column">
                      <p ng-bind-html="item.data"></p>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                </md-list>

              </md-card-content>
              <md-card-actions layout="row" layout-align="center center" class="cost">
                <b>{{n.cost}}</b>
              </md-card-actions>
              <md-card-actions layout="row" layout-align="center center">
                <md-button class="md-raised md-warn mb-block" md-ink-ripple><b>{{n.btnName}}</b></md-button>

              </md-card-actions>
              <md-card-actions layout="row" layout-align="center center" class="comments">
                ({{n.footerMessage}})
              </md-card-actions>
            </md-card>

          </md-card-content>
          <md-card-actions layout="row" layout-align="center center" class="commentsmain" ng-if="n.specialoffers">
            <br>
          </md-card-actions>
        </md-card>
      </carousel3d-slide>
    </carousel3d>

    <div flex layout="column" layout-align="center center" class="comments" ng-if="t.desc" ng-bind-html="t.desc">

    </div>
  </md-content>
   
      <div flex layout="row" layout-align="center center" class="linkblock1">
        <b>
        <a href="#">Click to Upgrade</a> <br>An existing 'Free Job' to 'Hot Job'
        </b>
      </div>
   
  <br>
  <card flex layout="row" layout-align="start center">
    <md-card-content>
      <b>
      <div flex layout="column" layout-align="start center" class="linkblock">
        For Online Test / Assessment Packages Contact us at:<br> 
        <span style="padding:0 1%"><img alt="recruiter phone" src="/temp-assets/phone_icon.png"> 8095335577</span> 
        <br>
        <span style="padding:0 1%">
                      <img alt="recruiter mail" src="/temp-assets/mail_icon.png">  recruit@freshersworld.com</span>
        <br> ** Assessment content / manpower support / Venue(test centre) and additional support can be provided.

      </div>
      </b>
    </md-card-content>
  </card>
  <br>
  <card flex layout="row" layout-align="center center">
    <md-card-content>
      <div flex layout="column" layout-align="center center">
        <b class="thankstitle">
    Thanks to <b class='yellow'>60,000+ Recruiters</b> for trusting Frehersworld
        </b>
      </div>
      <md-card-content>
  </card>

  <div layout="row" layout-align="center center" layout-padding class="toolbarlogo">
    <img class="panel_one_img client_img_mobile" src="/temp-assets/employers.gif"
      alt="freshersworld clients">
  </div>


  <card flex layout="row" layout-align="center center">
    <md-card-content>
      <div flex layout="column" layout-align="center center">
        <b class="thankstitle">
    This is what we usually get to hear from our <b class='yellow'>Recruiters</b>
        </b>
      </div>
      <md-card-content>
  </card>

<!--Carousal here -->
    <md-card layout="column" layout-align="center center">
      <jk-carousel
        data="dataArray"
        item-template-url="'home/views/comment-template.html'"
        max-width="800" 
        max-height="400",
        auto-slide="true"
        auto-slide-time="3000">
        </jk-carousel>
    </md-card>
<card flex layout="row" layout-align="center center">
    <md-card-content>       
            <p><b>As Seen On</b></p>
   <md-card-content>
  </card>
<div layout="row" layout-align="center center" class="toolbarlogo">
  <img class="panel_one_img newsIconImage" src="/temp-assets/news_icons.gif" alt="Freshersworld in News">
 </div>
<br>
<footer>
<card flex layout="row" layout-align="center center">
    <md-card-content>                   
				© 2006-2017 Freshersworld.com
   <md-card-content>
  </card>
</footer>




</div>

<md-fab-speed-dial md-open="false" md-direction="down" class="fabButton">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-info">
      <md-icon md-font-library="material-icons">message</md-icon>
    </md-button>
  </md-fab-trigger>
</md-fab-speed-dial>

</div>

